# 1.  Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Load data

In [2]:
df_view = pd.read_csv('view_log.csv')
df_train = pd.read_csv('train.csv')
df_item = pd.read_csv('item_data.csv')
df_test = pd.read_csv('test.csv')

# 3. Check features in the dataset

In [3]:
df_view.head(2)

           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640

In [4]:
df_item.head(2)

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822

In [5]:
df_train.head(2)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1

In [6]:
df_test.head(2)

,impression_id,impression_time,user_id,app_code,os_version,is_4G
0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1
1,caac14a5bf2ba283db7708bb34855760,2018-12-13 07:45:00,29656,44,latest,0

In [7]:
print(df_train.shape,df_test.shape,df_view.shape,df_item.shape)

(237609, 7) (90675, 6) (3118622, 5) (132761, 6)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237609 entries, 0 to 237608
Data columns (total 7 columns):
impression_id      237609 non-null object
impression_time    237609 non-null object
user_id            237609 non-null int64
app_code           237609 non-null int64
os_version         237609 non-null object
is_4G              237609 non-null int64
is_click           237609 non-null int64
dtypes: int64(4), object(3)
memory usage: 12.7+ MB

In [9]:
df_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3118622 entries, 0 to 3118621
Data columns (total 5 columns):
server_time    object
device_type    object
session_id     int64
user_id        int64
item_id        int64
dtypes: int64(3), object(2)
memory usage: 119.0+ MB

In [10]:
df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132761 entries, 0 to 132760
Data columns (total 6 columns):
item_id         132761 non-null int64
item_price      132761 non-null int64
category_1      132761 non-null int64
category_2      132761 non-null int64
category_3      132761 non-null int64
product_type    132761 non-null int64
dtypes: int64(6)
memory usage: 6.1 MB

In [11]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90675 entries, 0 to 90674
Data columns (total 6 columns):
impression_id      90675 non-null object
impression_time    90675 non-null object
user_id            90675 non-null int64
app_code           90675 non-null int64
os_version         90675 non-null object
is_4G              90675 non-null int64
dtypes: int64(3), object(3)
memory usage: 4.2+ MB

# 4. Merge tables

In [12]:
df_train_new_1 =pd.merge(df_view, df_item, on='item_id',how = 'left')

In [13]:
df_train_new_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3118622 entries, 0 to 3118621
Data columns (total 10 columns):
server_time     object
device_type     object
session_id      int64
user_id         int64
item_id         int64
item_price      float64
category_1      float64
category_2      float64
category_3      float64
product_type    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 261.7+ MB

In [14]:
df_train_new =pd.merge(df_train_new_1, df_train, on='user_id',how = 'left')

In [15]:
df_train_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11486867 entries, 0 to 11486866
Data columns (total 16 columns):
server_time        object
device_type        object
session_id         int64
user_id            int64
item_id            int64
item_price         float64
category_1         float64
category_2         float64
category_3         float64
product_type       float64
impression_id      object
impression_time    object
app_code           float64
os_version         object
is_4G              float64
is_click           float64
dtypes: float64(8), int64(3), object(5)
memory usage: 1.5+ GB

In [16]:
df_train_new.isnull().sum()

server_time             0
device_type             0
session_id              0
user_id                 0
item_id                 0
item_price           7113
category_1           7113
category_2           7113
category_3           7113
product_type         7113
impression_id      433985
impression_time    433985
app_code           433985
os_version         433985
is_4G              433985
is_click           433985
dtype: int64

In [17]:
df_train_new.head()

,server_time,device_type,session_id,user_id,item_id,item_price,category_1,category_2,category_3,product_type,impression_id,impression_time,app_code,os_version,is_4G,is_click
0,2018-10-15 08:58:00,android,112333,4557,32970,54685.0,16.0,56.0,253.0,3184.0,6dd9544216149618da55e183f73e2b56,2018-11-26 14:37:00,213.0,latest,1.0,0.0
1,2018-10-15 08:58:00,android,112333,4557,32970,54685.0,16.0,56.0,253.0,3184.0,6ba86f2d1de0989ffbf73cc37f5825c9,2018-11-26 14:35:00,213.0,latest,1.0,0.0
2,2018-10-15 08:58:00,android,503590,74788,7640,1376.0,7.0,71.0,228.0,545.0,d3a1d384972d1253ef47b4bdc0c53320,2018-11-27 11:09:00,207.0,intermediate,0.0,0.0
3,2018-10-15 08:58:00,android,503590,74788,7640,1376.0,7.0,71.0,228.0,545.0,58825cb05cf2694bac1da9318ef90091,2018-11-27 15:59:00,207.0,intermediate,0.0,0.0
4,2018-10-15 08:58:00,android,573960,23628,128855,4544.0,4.0,38.0,62.0,5609.0,93367ed3fc274b77debadd3de60b954c,2018-12-08 17:42:00,386.0,old,0.0,0.0

In [18]:
df_train_new= df_train_new.drop_duplicates(subset=['impression_id','is_click'],keep="first")

In [19]:
df_train_new.shape

(237610, 16)

In [20]:
df_train_new.isnull().sum()

server_time          0
device_type          0
session_id           0
user_id              0
item_id              0
item_price         178
category_1         178
category_2         178
category_3         178
product_type       178
impression_id        1
impression_time      1
app_code             1
os_version           1
is_4G                1
is_click             1
dtype: int64

# Test data

In [21]:
df_test_new =pd.merge(df_train_new_1, df_test, on='user_id',how = 'left')

In [22]:
df_test_new.shape

(5669986, 15)

In [23]:
df_test_new.head()

,server_time,device_type,session_id,user_id,item_id,item_price,category_1,category_2,category_3,product_type,impression_id,impression_time,app_code,os_version,is_4G
0,2018-10-15 08:58:00,android,112333,4557,32970,54685.0,16.0,56.0,253.0,3184.0,NaN,NaN,NaN,NaN,NaN
1,2018-10-15 08:58:00,android,503590,74788,7640,1376.0,7.0,71.0,228.0,545.0,NaN,NaN,NaN,NaN,NaN
2,2018-10-15 08:58:00,android,573960,23628,128855,4544.0,4.0,38.0,62.0,5609.0,e2e678a2f28d79d56a30234664ab7470,2018-12-13 22:07:00,386.0,old,0.0
3,2018-10-15 08:58:00,android,573960,23628,128855,4544.0,4.0,38.0,62.0,5609.0,9bcc7ac4e558a037d886a8a0417106f3,2018-12-18 05:33:00,386.0,old,0.0
4,2018-10-15 08:58:00,android,121691,2430,12774,904.0,17.0,39.0,252.0,2740.0,32f38fc96974fabc7e79700ef1b355ca,2018-12-12 19:23:00,434.0,old,0.0

In [24]:
df_test_new= df_test_new.drop_duplicates(subset=['impression_id'],keep="first")

In [25]:
df_test_new.shape

(90676, 15)

In [26]:
df_test_new.isnull().sum()

server_time         0
device_type         0
session_id          0
user_id             0
item_id             0
item_price         79
category_1         79
category_2         79
category_3         79
product_type       79
impression_id       1
impression_time     1
app_code            1
os_version          1
is_4G               1
dtype: int64

In [33]:
df_test_new =df_test_new.dropna(subset = ['impression_id'],axis=0, how='any')

In [34]:
df_test_new.shape

(90675, 15)

In [35]:
# conver to csv file
df_train_new.to_csv('train_final.csv')
df_test_new.to_csv('test_final.csv')